@import 'tailwindcss';

@font-face {
  font-family: 'Ghibli Sans';
  src: url('/fonts/Eyad Al-Samman - Ghibli.woff') format('woff'),
    url('/fonts/Eyad Al-Samman - Ghibli.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ghibli Sans';
  src: url('/fonts/Eyad Al-Samman - Ghibli-Bold.woff') format('woff'),
    url('/fonts/Eyad Al-Samman - Ghibli-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: oklch(0.9851 0.0051 56.3628);
  --foreground: oklch(0.4114 0.0323 248.618);
  --card: oklch(0.9868 0.007 67.7444);
  --card-foreground: oklch(0.3645 0.0277 248.5929);
  --popover: oklch(0.9926 0.0025 56.3998);
  --popover-foreground: oklch(0.4114 0.0323 248.618);
  --primary: oklch(0.6798 0.1025 144.345);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.9465 0.0314 91.6628);
  --secondary-foreground: oklch(0.316 0.023 248.5583);
  --muted: oklch(0.9732 0.0157 91.5442);
  --muted-foreground: oklch(0.5491 0.0226 248.2392);
  --accent: oklch(0.9018 0.0349 135.0224);
  --accent-foreground: oklch(0.316 0.023 248.5583);
  --destructive: oklch(0.6672 0.1562 22.2261);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.8935 0.0149 84.5857);
  --input: oklch(0.9479 0.0126 91.5223);
  --ring: oklch(0.7514 0.0791 144.738);
  --chart-1: oklch(0.7237 0.1078 144.3619);
  --chart-2: oklch(0.8253 0.0683 98.1394);
  --chart-3: oklch(0.8104 0.033 229.3535);
  --chart-4: oklch(0.7506 0.0688 326.2358);
  --chart-5: oklch(0.7476 0.0642 66.5782);
  --sidebar: oklch(0.929 0.0116 134.8887);
  --sidebar-foreground: oklch(0.4114 0.0323 248.618);
  --sidebar-primary: oklch(0.6331 0.0929 144.3805);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.8607 0.0314 135.0108);
  --sidebar-accent-foreground: oklch(0.316 0.023 248.5583);
  --sidebar-border: oklch(0.893 0.0175 134.9246);
  --sidebar-ring: oklch(0.708 0.0734 144.7509);
  --font-sans: 'Ghibli Sans', sans-serif;
  --font-serif: 'Ghibli Serif', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(210, 10%, 20%);
  --shadow-2xs: 0px 4px 10px 0px hsl(210 10% 20% / 0.04);
  --shadow-xs: 0px 4px 10px 0px hsl(210 10% 20% / 0.04);
  --shadow-sm: 0px 4px 10px 0px hsl(210 10% 20% / 0.08),
    0px 1px 2px -1px hsl(210 10% 20% / 0.08);
  --shadow: 0px 4px 10px 0px hsl(210 10% 20% / 0.08),
    0px 1px 2px -1px hsl(210 10% 20% / 0.08);
  --shadow-md: 0px 4px 10px 0px hsl(210 10% 20% / 0.08),
    0px 2px 4px -1px hsl(210 10% 20% / 0.08);
  --shadow-lg: 0px 4px 10px 0px hsl(210 10% 20% / 0.08),
    0px 4px 6px -1px hsl(210 10% 20% / 0.08);
  --shadow-xl: 0px 4px 10px 0px hsl(210 10% 20% / 0.08),
    0px 8px 10px -1px hsl(210 10% 20% / 0.08);
  --shadow-2xl: 0px 4px 10px 0px hsl(210 10% 20% / 0.2);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2656 0.018 248.5074);
  --foreground: oklch(0.9465 0.0314 91.6628);
  --card: oklch(0.2902 0.028 256.8395);
  --card-foreground: oklch(0.9572 0.0251 91.6179);
  --popover: oklch(0.2759 0.0191 248.5194);
  --popover-foreground: oklch(0.9465 0.0314 91.6628);
  --primary: oklch(0.5968 0.1047 144.1255);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.4473 0.0366 91.8147);
  --secondary-foreground: oklch(0.9732 0.0157 91.5442);
  --muted: oklch(0.3657 0.0208 248.3964);
  --muted-foreground: oklch(0.7615 0.0139 248.0106);
  --accent: oklch(0.4989 0.0617 135.5277);
  --accent-foreground: oklch(0.9848 0 0);
  --destructive: oklch(0.5972 0.1977 25.5155);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.3941 0.0229 248.4078);
  --input: oklch(0.3367 0.0187 248.3826);
  --ring: oklch(0.6798 0.1025 144.345);
  --chart-1: oklch(0.6561 0.1339 143.8617);
  --chart-2: oklch(0.7248 0.0887 98.2944);
  --chart-3: oklch(0.6911 0.045 229.8283);
  --chart-4: oklch(0.6251 0.0858 326.5423);
  --chart-5: oklch(0.632 0.082 65.4161);
  --sidebar: oklch(0.3238 0.0165 229.5395);
  --sidebar-foreground: oklch(0.9465 0.0314 91.6628);
  --sidebar-primary: oklch(0.5392 0.0775 144.4075);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.4403 0.0413 135.3325);
  --sidebar-accent-foreground: oklch(0.9848 0 0);
  --sidebar-border: oklch(0.3738 0.0199 229.5814);
  --sidebar-ring: oklch(0.6146 0.0899 144.3851);
  --font-sans: 'Ghibli Sans', sans-serif;
  --font-serif: 'Ghibli Serif', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.3;
  --shadow-color: hsl(210, 10%, 5%);
  --shadow-2xs: 0px 6px 12px 0px hsl(210 10% 5% / 0.15);
  --shadow-xs: 0px 6px 12px 0px hsl(210 10% 5% / 0.15);
  --shadow-sm: 0px 6px 12px 0px hsl(210 10% 5% / 0.3),
    0px 1px 2px -1px hsl(210 10% 5% / 0.3);
  --shadow: 0px 6px 12px 0px hsl(210 10% 5% / 0.3),
    0px 1px 2px -1px hsl(210 10% 5% / 0.3);
  --shadow-md: 0px 6px 12px 0px hsl(210 10% 5% / 0.3),
    0px 2px 4px -1px hsl(210 10% 5% / 0.3);
  --shadow-lg: 0px 6px 12px 0px hsl(210 10% 5% / 0.3),
    0px 4px 6px -1px hsl(210 10% 5% / 0.3);
  --shadow-xl: 0px 6px 12px 0px hsl(210 10% 5% / 0.3),
    0px 8px 10px -1px hsl(210 10% 5% / 0.3);
  --shadow-2xl: 0px 6px 12px 0px hsl(210 10% 5% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

/* Applying design system above */
* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-sans);
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: var(--font-sans);
  line-height: 1.5;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#app {
  font-family: var(--font-sans);
}

code,
pre {
  font-family: var(--font-mono);
}
